

mpd &			# music player daemon-you might prefer it as a service though
 picom & # Compositor for tranparancy and animations, requires picom-jonaburg, and picom.conf. A little bit laggy
 dunst &			# dunst for notifications
 xset r rate 200 45 &	# Speed xrate up
remaps
#kmonad ~/homerow.kbd
 unclutter &		# Remove mouse when idle
setbg /media/wallpapers/2014-03-28_ScotlandFalkirkWheel_EN-AU7830242558_1920x1080.jpg
dwmblocks & 
