configuration {
	width: 900;
  lines: 7;
	font: "CaskaydiaCove Nerd Font Mono 13";
	show-icons: true;
	hide-scrollbar: true;
	show-match: false;
	theme: "/home/psihoz/.config/rofi/themes/dracula.rasi";
}
element-icon { size: 1.65ch ; }
